* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  margin-top: 10%;
  margin-left: 40%;
}

.input-field {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.generated-list {
  width: 50%;
}

.todo-lists {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 5px;
}

.delete-btn {
  margin-left: auto;
}
